version: "3.8"

services:
  backend:
    image: b2b_backend
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./rehabnet
    ports:
      - "5173:5173"
    depends_on:
      - backend
